<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Word Value</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.bytedash.LaunchBar.action.WordValue</string>
	<key>CFBundleIconFile</key>
	<string>wordvalue.png</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Marco Janssen</string>
		<key>LBSummary</key>
		<string>Geocache tools: Counts the word value of all the words in the text</string>
		<key>LBTwitter</key>
		<string>@M4RC0J</string>
		<key>LBWebsite</key>
		<string>http://www.bytedash.com/launchbar</string>
		<key>LBEmail</key>
		<string>launchbar@bytedash.com</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
		<key>LBSuggestionsScript</key>
		<dict>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>suggestions.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Please enter your text</string>
</dict>
</plist>
